@import url('https://fonts.cdnfonts.com/css/atkinson-hyperlegible-2');

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 13px;
    background-color: #f5f5f5;
    margin: 0px;
}

#dialogue {
    position: absolute;
    width: 100%;
    top: 0px;
    margin-top: 1em;
    left: 0px;
    bottom: 3rem;
    overflow-y: scroll;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

ol {
    list-style-type: decimal !important;
    list-style-position: inside !important;
}

ul {
    list-style-type: disc !important;
    list-style-position: inside !important;
}

h1 {
    font-size: x-large !important;
}
h2 {
    font-size: large !important;
}
h3 {
    font-size: medium !important;
}
strong {
    font-weight: bold !important;
}
em {
    font-style: italic !important;
}
